/*================================================================================ 
Author:Jayed Hossain Jibon 
E-mail:jayes.swe@gmail.com, 
Contact Me: 01987132107
==================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth;
    color: #000;
}
  
body {
    /* font-family: 'Open Sans', Arial, Helvetica, sans-serif !important; */
    /* font-family: 'Ubuntu','Hind Siliguri', Verdana, Geneva, Tahoma, sans-serif; */
    background-color: #FFFFFF;
    color: #000;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}


.custom-btn{
    background-color: #000;
    padding: 13px;
    color: #FFFFFF;
    min-width: 150px;
    border-radius: 5px;
    font-size: 20px;
}
.custom-btn:hover{
    background-color: #F3D871;
    padding: 12px;
    color: #000;
    min-width: 150px;
    border-radius: 5px;
    font-size: 20px;
    border-color: #F3D871;
}


/*---------------------
    custom-button
----------------------*/
.custom-button {
    color: white !important;
    background: #343A40 !important;
    padding: 10px;
    border-radius: 5px;
}

.custom-button:hover {
    color: #FFFFFF;
    background-color: #000 !important;
    padding: 10px;
    border-radius: 5px;
}



/*======================================================
            Footer Section
=======================================================*/


.footer-section{
    background-color: #F7F7F8;
    padding: 10px;
}

.newsletter, .contact-us, .shop, .help{
    margin: 20px;
}


.social{
    display: inline;
}

.social ul {
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}
.social li {
    display: inline; /* Makes list items inline */
    margin-right: 10px; /* Adds spacing between items */
}
.social a {
    text-decoration: none; /* Removes underline from links */
    color: #000; /* Sets link color */
}