@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #FFFFFF;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    background-color: #F8F8F8;
    color: #000;
}

.custom-button{
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    text-align: center;
}

.custom-button:hover{
    background-color: #000000;
    color: #f5f5f5;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}


/*===================================================================================
    1. Header section styles
==============================================================================*/

.navbar{
    background-color: #faf3f3;
    color: #000000;
    border-bottom: #00000044;
    box-shadow: #000000;
}


.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}


.sticky-header {
    transition: top 0.3s;
}

.fixed-top {
    top: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
}


/* .nav-item {
    margin-right: 10px;
}

.nav-item a{
    color: #000;
}

.nav-link{
    font-size: 16px;
    color: #000000 !important;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
}


.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #b44534f9;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.dropdown-menu {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    min-width: 150px;
    z-index: 1001;
}

.nav-item:hover .dropdown-menu,
.dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.nav-item:hover .dropdown-menu,
.dropdown-menu:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a:hover {
    color: #ff74ae;
} */


/*===================================================================================
    2. FREE SHIPPING
==============================================================================*/

.free-shipping{
    background-color: rgb(0, 0, 0); 
    padding: 3px;
}

.free-shipping-title{
    text-align: center;
    margin-top: 5px;
    color: #F7F7F8;
}



/*============================================================
    3. LOGIN Section styles 
==========================================================*/
.login-container {
    padding-top: 20px;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-box {
    width: 100%;
    max-width: 380px;
    margin: 10px;
    background-color: #ffffff;
    background: none;
}

.signIn-btn{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #000000;
    padding: 12px;
    color: #FFFFFF;
    min-width: 120px;
    font-size: 20px;
}

.signIn-btn:hover{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #F3D871;
    padding: 12px;
    color: #000;
    min-width: 120px;
    font-size: 20px;
}

.create-account-btn {
    float: right;
}
.create-account-btn a{
    color: #000000;
    font-size: 19px;
    text-decoration: none;
}

.create-account-btn a:hover{
    color: #000;
}
  
.create-account {
    font-size: 14px;
}


/*============================================================
    4.  SignUp Section styles 
==========================================================*/
.sign-up-section{
    overflow: hidden;
    display: block;
}

.signUp-container {
    padding-top: 20px;
    margin-top: 100px;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

}
.signUp-box {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    background-color: #ffffff;
}

.create-btn{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #000000;
    padding: 10px;
    color: #FFFFFF;
    min-width: 110px;
    font-size: 20px;
}
.create-btn:hover{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #F3D871;
    padding: 10px;
    color: #000;
    min-width: 110px;
    font-size: 20px;
}
.login-text{
    font-size: 18px;
}

.login-text:hover{
    font-size: 18px;
    color: #F7F7F8;
}

/*============================================================
    5. Cart Section styles 
==========================================================*/
.cart-section{
    overflow: hidden;
    display: block;
    margin-top: 40px;
    margin-bottom: 80px;
}

.table-td{
    font-size: 20px;
}

.img-wrap img{
    width: 100%;
    height: 80px;
}

.cart-shopping-btn {
    color: white !important;
    background: #E04F54 !important;
    margin-bottom: 10px !important;
}

.cart-checkout-btn {
    color: #FFFFFF;
    background: #000;
    border-radius: 4px;
}
.cart-checkout-btn:hover{
    background-color: #F3D871;
    color: #000;
    border-color: #F3D871;
}

/*============================================================
    6. Checkout Section styles 
==========================================================*/
.checkout-section {
    margin-top: 2rem;
    margin-bottom: 7rem;
}

.checkout-total {
    color: white !important;
    background: #000 !important;
    border-radius: 10px !important;
}


/*============================================================
  7.  Order Complete styles 
==========================================================*/
.order-complete {
    margin-top: 4rem;
    margin-bottom: 14rem;
}

.invoice-btn{
    color: #FFFFFF;
    background: #000000 ;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}
.invoice-btn:hover{
    color: #000;
    background: #F3D871 ;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}



/*===================================================================================
  8.  Home Style CSS
==============================================================================*/

.banner-section{
    position: relative;
    margin-bottom: 20px;
}

.img-fluid {
    width: 100%;
    height: auto;
}
.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
    font-weight: bold;
}

.overlay-text p{
    font-weight: 100;
    font-size: larger;
}


.shop-now-button{
    margin-top: 7px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;

}

.shop-now-button:hover{
    background-color: #FFFFFF;
    color: #000;
    padding: 12px;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}


/* multi-benefit-solution */
.multi-benefit-solution{
    overflow: hidden;
    display: block;
    margin-bottom: 50px;
}

.multi-benefit-title{
    font-weight: bold;
    text-align: center;
}

.product-title p{
    margin-top: 10px;
}

.add-to-cart-btn{
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    text-align: center;
}

.add-to-cart-btn:hover{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

/*============================================================
   9.  Production section styles 
==========================================================*/

.product-section{
    overflow: hidden;
    display: block;
    margin-bottom: 50px;
}

.product-list-title{
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*============================================================
    10. Product Details Section styles 
==========================================================*/
.product-details{
    overflow: hidden;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img-detail img{
    max-width: 100%;
    height: 630px;
    display: block; 
}

/*===================================================================================
    400, 403, 500 section styles
==============================================================================*/

.bad-request,
.permission-denied,
.page-not-found,
.server-error{
    overflow: hidden;
    display: block;
    margin-top: 10rem;
    margin-bottom: 5rem;
}



/*===================================================================================
                FAQ section styles
==============================================================================*/
.accordion-button {
    font-size: 18px;
    background-color: #fff;
    color: #333;
    border: none;
}

.accordion-button:not(.collapsed) {
    color: #333;
    background-color: #fff;
    box-shadow: none;
}

.accordion-button::after {
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(93%) contrast(88%);
}

.accordion-body {
    font-size: 16px;
    color: #000000;
}

.accordion-body strong {
    color: #000000;
    display: block;
    margin-bottom: 0.5rem;
}

.accordion-item {
    border-bottom: 1px solid #b5b5b5;
}

.accordion-item:last-child {
    border-bottom: 1;
}



/*===================================================================================
                Footer section styles
==============================================================================*/

.footer{
    overflow: hidden;
    display: block;
    background-color: #F7F7F8;
    color: #000;
}

.contact-us{
    margin: 20px;
}

.contact-us h4{
    font-weight: bold;
}


.social{
    overflow: hidden;
    display: block;
}


.social a {
    font-size: 14px;
    color: #000000 !important;
    text-decoration: none;
    margin-right: 4px;
    position: relative;
}

.fa-facebook-f, 
.fa-twitter,
.fa-instagram,
.fa-linkedin-in

{
    font-size: 14px;
    padding: 8px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 4px;
}

.fa-facebook-f:hover{
    font-size: 14px;
    padding: 8px;
    background-color: gray;
    color: #FFFFFF;
    border-radius: 4px;
}

.fa-twitter:hover{
    font-size: 14px;
    padding: 8px;
    background-color: gray;
    color: #FFFFFF;
    border-radius: 4px;
}

.fa-instagram:hover{
    font-size: 14px;
    padding: 8px;
    background-color: gray;
    color: #FFFFFF;
    border-radius: 4px;
}


.fa-linkedin-in:hover{
    font-size: 14px;
    padding: 8px;
    background-color: gray;
    color: #FFFFFF;
    border-radius: 4px;
}

.social ul {
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}
.social li {
    display: inline;
}

/* help */
.help{
    margin: 20px;
}

.help h4{
    font-weight: bold;
}

/* shop */
.shop{
    margin: 20px;
}

.shop h4{
    font-weight: bold;
}

/* newsletter */
.newsletter{
    margin: 20px;
}
.newsletter h4{
    font-weight: bold;
}

.newsletter-btn {
    background-color: #000;
    color: #FFFFFF;
    padding: 10px;
    min-width: 150px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.newsletter-btn:hover {
    background-color: #F3D871;
    color: #000;
    border-color: #F3D871;
}